<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Certficate Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<style>
     body {
            background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            font-family: Arial, sans-serif;
        }
    .box{
        width: 500px;
        margin-left: 390px;
    }
    .buttons{
        margin-left: 180px;
    }
    .is-fluid{
        margin-top: 32px;
        margin-bottom: 32px;
    }
</style>
<body>
    <div class="container is-fluid">
        <form class="box" action="" method="POST">
          {% csrf_token %}
            <p class="is-size-3 has-text-centered has-text-weight-bold">Update - Certificate Form </p>
            <div class="field mt-5 ml-5">
                <label class="label has-text-weight-semibold">Register No.</label>
                <input type="text" class="input" name="reg_no" value="{{form.reg_no.value}}" style="width: 400px;">
            </div>
            <div class="field ml-5">
                <label class="label has-text-weight-semibold">Name</label>
                <input type="text" class="input" name="name" value="{{form.name.value}}" style="width: 400px;">
            </div>
            <div class="field ml-5">
                <label class="label has-text-weight-semibold">Email ID</label>
                <input type="text" class="input" name="email" value="{{form.email.value}}" style="width: 400px;">
            </div>
            <div class="field ml-5">
                <label class="label has-text-weight-semibold">Course</label>
                <input type="text" class="input" name="course" value="{{form.course.value}}" style="width: 400px;">
            </div>
            <div class="field ml-5">
                <label class="label has-text-weight-semibold">Trainer Name</label>
                <input type="text" class="input" name="trainer" value="{{form.trainer.value}}" style="width: 400px;">
            </div>
            <div class="buttons">
            <button class="button is-link">Update Changes</button>
            <button class="button is-danger">Cancel</button>
        </div>
        </form>
    </div>
</body>
</html>